* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

#root {
  width: 604px;
  margin: 0 auto;
  padding: 16px;
}

.info-area, 
.post-area {
  width: 100%;
}

.info-area {
  height: 240px;
  display: flex;
}

.post-area {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.post-container {
  width: 180px;
  height: 180px;
}

.info-left, 
.info-right {
  height: 100%;
}

.info-left {
  width: 40%;
}

.info-right {
  width: 60%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-image-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  border-radius: 50%;
}

.info-1-container {
  display: flex;
  align-items: center;
}

.info-1-container button {
  height: 28px;
  margin-left: 20px;
  cursor: pointer;
  border: 1px #cccccc solid;
  border-radius: 4px;
  background: #ffffff;
}

.info-2-container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}